# ipwarn config file

# Interval (in seconds) to check for ip changes
INTERVAL=30

# IP Checkers (comma-separated, in order of preference)
IP_CHECKERS=icanhazip.com,ipify.org,ifconfig.me

# Telegram
UPDATE_TELEGRAM=false
TEL_API_TOKEN=
TEL_API_ID=

# GoDaddy
UPDATE_GODADDY=false
GD_DOMAIN=
GD_RECORD_NAME="@"
GD_RECORD_TYPE="A"
GD_API_KEY=
GD_API_SECRET=

# Porkbun
UPDATE_PORKBUN=false
PB_DOMAIN=
PB_RECORD_NAME="@"
PB_RECORD_TYPE="A"
PB_API_KEY=
PB_SECRET_API_KEY=
PB_TTL=600

# Logging
LOG_LEVEL=INFO
